<!DOCTYPE html>
<html>
<head>
	<title>Pizza - Order</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <div id="pizza-app"></div>

  <script type="text/javascript" src="/app.vendor.src.js"></script>
  <script type="text/javascript" src="/app.src.js"></script>
</body>
</html>
